* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  line-height: 1.5;
}

html {
  font-size: 62.5%;
  /* min-width: 1080px; */
}
body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "App";
  /* min-width: 1080px; */
}

.App {
  grid-area: App;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "header"
    "content"
    "footer";
}
header {
  grid-area: header;
}
content {
  grid-area: content;
}
footer {
  grid-area: footer;
}
