@import url('https://fonts.googleapis.com/css?family=Roboto');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: rgb(236, 234, 229);
    color: #fff;
    line-height: 1.6;
}

.slider {
    position: relative;
    overflow: hidden;
    height: 75vh;
    width: 100vw;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
}

.slide.current {
    opacity: 1;
}

.slide .content {
    position: absolute;
    bottom: 70px;
    left: -600px;
    opacity: 0;
    width: 600px;
    background-color: rgba(48, 46, 46, 0.8);
    color: #333;
    padding: 35px;
}

.slide .content h1 {
    margin-bottom: 10px;
    color: white;
}

.slide .content p {
    color: white;
}

.slide.current .content {
    opacity: 1;
    transform: translateX(600px);
    transition: all 0.7s ease-in-out 0.3s;
}

.buttons button#next {
    position: absolute;
    top: 35%;
    right: 15px;
}

.buttons button#prev {
    position: absolute;
    top: 35%;
    left: 15px;
}

.buttons button {
    border: 2px solid #fff;
    background-color: gray;
    color: #fff;
    cursor: pointer;
    padding: 13px 15px;
    border-radius: 50%;
    outline: none;
}

.buttons button:hover {
    background-color: #fff;
    color: #333;
}

@media (max-width: 500px) {
    .slide .content {
        bottom: -300px;
        left: 0;
        width: 100%;
    }
    .slide.current .content {
        transform: translateY(-300px);
    }
}


/* Backgorund Images */

.slide:first-child {
    background: url('img/Droemmen1.jpg') no-repeat center top/cover;
    background-size: 100% 100%;
}

.slide:nth-child(2) {
    background: url('img/Kugle1.jpg') no-repeat center top/cover;
    background-size: 100% 100%;
}

.slide:nth-child(3) {
    background: url('img/ffh1.jpg') no-repeat center top/cover;
    background-size: 100% 100%;
}


/* NAV / FOOTER  */

.toggle {
    position: fixed;
    top: 20px;
    right: 20px;
    min-width: 20px;
    height: 40px;
    background: #262626;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.5s;
    z-index: 20;
    /* border: 1px solid #fff; */
    padding: 0 20px;
}

.toggle::before {
    content: 'menu';
    color: #fff;
    line-height: 40px;
}

.toggle.active::before {
    content: 'Luk';
    color: #fff;
    line-height: 40px;
}

.arosmenu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100vh;
    background: rgba(38, 38, 38, 0.932);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    z-index: 10;
}

.arosmenu.active {
    left: 0;
}

ul {
    position: relative;
}

ul li {
    list-style: none;
    text-align: center;
}

ul li a {
    display: block;
    text-decoration: none;
    padding: 2rem;
    text-transform: uppercase;
    color: #fff;
    font-size: 4rem;
    letter-spacing: 2px;
    font-weight: bold;
    transition: 0.5s;
}

ul li a:hover {
    color: rgb(0, 0, 0);
}

ul li a:before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.5s;
    font-size: 20rem;
    opacity: 0;
    color: #fff;
    pointer-events: none;
    z-index: -1;
    font-family: initial;
}

ul li a:hover:before {
    opacity: 0.1;
    top: 50%;
}

footer {
    background-color: rgba(27, 26, 26, 0.932);
    margin-top: 5rem;
    padding-bottom: 17em;
    grid-area: footer;
    width: 100%;
    height: 25vh;
    /* background-image: linear-gradient(to left, #373737, #313131, #2c2c2c, #262626, #212121); */
}

.flex-container {
    display: flex;
    justify-content: space-evenly;
}

.item1 {
    margin-top: 2rem;
    font-size: 2em;
    align-self: center;
    transition: ease-in-out .3s;
    /* margin-right: 20rem; */
}

.item1 img {
    width: 3rem;
}

.item2 {
    margin-top: 1.5rem;
}

li.heading {
    font-size: 2.1em;
    font-weight: 700;
    color: white;
}

.item2 ul li {
    color: white;
    font-size: 1.3em;
    text-transform: uppercase;
    line-height: 2.7rem;
}

.item2 ul li a {
    font-size: 0.8em;
    color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
}

.item3 {
    margin-top: 1.7rem;
}

table {
    width: 20rem;
}

table th {
    color: white;
    font-size: 1em;
    text-align: left;
    text-transform: uppercase;
}

table td {
    color: white;
    line-height: 2.5rem;
    font-size: 1em;
    text-transform: uppercase;
}


/* GALLERY  */

.main-content {
    height: 120vh;
    padding: 5% 15% 5% 15%;
}

.main-content .gallery-dok {
    display: grid;
    height: 100%;
    grid-template-rows: repeat(12, 1fr);
    grid-template-columns: repeat(9, 1fr);
    grid-gap: 15px;
}

.main-content h1 {
    font-size: 2rem;
    padding: 2.5%;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
}

.main-content .gallery-dok .photo-item {
    border: 2px solid rgba(0, 0, 0, 0.3);
    ;
    color: black;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1.5s;
}

.main-content .gallery-dok .photo-item:hover {
    transform: scale(1.1);
    overflow: hidden;
}

.main-content .gallery-dok .photo-item.normal {
    grid-row: span 5;
    grid-column: span 3;
    background-image: url(img/DOK/normal.jpg);
    background-size: 100% 100%;
}

.main-content .gallery-dok .photo-item.wide {
    grid-row: span 5;
    grid-column: span 6;
    background-image: url(img/DOK/wide.jpg);
    background-size: 100% 100%;
    background-position-y: 25%;
}

.main-content .gallery-dok .photo-item.small {
    grid-row: span 4;
    grid-column: span 3;
    background-image: url(img/DOK/small.jpg);
    background-size: 100% 100%;
}

.main-content .gallery-dok .photo-item.small2 {
    grid-row: span 4;
    grid-column: span 3;
    background-image: url(img/DOK/small2.jpg);
    background-size: 100% 100%;
}

.main-content .gallery-dok .photo-item.center {
    grid-row: span 4;
    grid-column: span 3;
    background-image: url(img/DOK/center.jpg);
    background-size: 100% 100%;
}

.main-content .gallery-dok .photo-item.center1 {
    grid-row: span 8;
    grid-column: span 3;
    background-image: url(img/DOK/center2.jpg);
    background-size: 100% 100%;
}

.main-content .gallery-dok .photo-item.leftmid {
    grid-row: span 8;
    grid-column: span 3;
    background-image: url(img/DOK/leftmid.jpg);
    background-size: 100% 100%;
}

.main-content .gallery-dok .photo-item.rightmid {
    grid-row: span 8;
    grid-column: span 3;
    background-image: url(img/DOK/rightmid.jpg);
    background-size: 100% 100%;
}

.main-content .gallery-dok .photo-item.banner {
    grid-row: span 20;
    grid-column: span 9;
    background-image: url(img/DOK/bottombanner.jpg);
    background-size: 100% 100%;
}


/* gallery FFH */

.main-content .gallery-ffh {
    display: grid;
    height: 100%;
    grid-template-rows: repeat(12, 1fr);
    grid-template-columns: repeat(9, 1fr);
    grid-gap: 15px;
}

.main-content h1 {
    font-size: 2rem;
    padding: 2.5%;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
}

.main-content .gallery-ffh .photo-item {
    border: 2px solid rgba(0, 0, 0, 0.3);
    ;
    color: black;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1.5s;
}

.main-content .gallery-ffh .photo-item:hover {
    transform: scale(1.1);
    overflow: hidden;
}

.main-content .gallery-ffh .photo-item.normal1 {
    grid-row: span 3;
    grid-column: span 3;
    background-image: url(img/FFH/normal1.jpg);
    background-size: 100% 100%;
}

.main-content .gallery-ffh .photo-item.normal2 {
    grid-row: span 3;
    grid-column: span 3;
    background-image: url(img/FFH/normal2.jpg);
    background-size: 100% 100%;
    background-position-y: 25%;
}

.main-content .gallery-ffh .photo-item.normal3 {
    grid-row: span 3;
    grid-column: span 3;
    background-image: url(img/FFH/normal3.jpg);
    background-size: 100% 100%;
}

.main-content .gallery-ffh .photo-item.normal4 {
    grid-row: span 3;
    grid-column: span 3;
    background-image: url(img/FFH/normal4.jpg);
    background-size: 100% 100%;
}

.main-content .gallery-ffh .photo-item.wide {
    grid-row: span 3;
    grid-column: span 6;
    background-image: url(img/FFH/wide.jpg);
    background-size: 100% 100%;
}

.main-content .gallery-ffh .photo-item.halfwide1 {
    grid-row: span 4;
    grid-column: span 4;
    background-image: url(img/FFH/halfwide1.jpg);
    background-size: 100% 100%;
}

.main-content .gallery-ffh .photo-item.halfwide2 {
    grid-row: span 4;
    grid-column: span 5;
    background-image: url(img/FFH/halfwide2.jpg);
    background-size: 100% 100%;
}

.main-content .gallery-ffh .photo-item.portait1 {
    grid-row: span 12;
    grid-column: span 3;
    background-image: url(img/FFH/portrait1.jpg);
    background-size: 100% 100%;
}

.main-content .gallery-ffh .photo-item.portait2 {
    grid-row: span 12;
    grid-column: span 3;
    background-image: url(img/FFH/portrait2.jpg);
    background-size: 100% 100%;
}

.main-content .gallery-ffh .photo-item.portait3 {
    grid-row: span 12;
    grid-column: span 3;
    background-image: url(img/FFH/portrait3.jpg);
    background-size: 100% 100%;
}


/* Gallery MOVE */

.main-content .gallery-move {
    display: grid;
    height: 100%;
    grid-template-rows: repeat(12, 1fr);
    grid-template-columns: repeat(9, 1fr);
    grid-gap: 10px;
}

.main-content h1 {
    font-size: 2rem;
    padding: 2.5%;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
}

.main-content .gallery-move .photo-item {
    border: 2px solid rgba(0, 0, 0, 0.3);
    color: black;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1.5s;
}

.main-content .gallery-move .photo-item:hover {
    transform: scale(1.1);
    overflow: hidden;
}

.main-content .gallery-move .photo-item.tall {
    grid-row: span 7;
    grid-column: span 3;
    background-image: url(img/MOVE/tall.jpg);
    background-size: 100% 100%;
}

.main-content .gallery-move .photo-item.wide1 {
    grid-row: span 3;
    grid-column: span 6;
    background-image: url(img/MOVE/wide1.jpg);
    background-size: 100% 100%;
    background-position-y: 25%;
}

.main-content .gallery-move .photo-item.wide2 {
    grid-row: span 4;
    grid-column: span 6;
    background-image: url(img/MOVE/wide2.jpg);
    background-size: 100% 100%;
}

.main-content .gallery-move .photo-item.halfwide1 {
    grid-row: span 4;
    grid-column: span 4;
    background-image: url(img/MOVE/halfwide1.jpg);
    background-size: 100% 100%;
}

.main-content .gallery-move .photo-item.halfwide2 {
    grid-row: span 4;
    grid-column: span 5;
    background-image: url(img/MOVE/halfwide2.jpg);
    background-size: 100% 100%;
}

.main-content .gallery-move .photo-item.portrait1 {
    grid-row: span 25;
    grid-column: span 3;
    background-image: url(img/MOVE/portrait1.jpg);
    background-size: 100% 100%;
}

.main-content .gallery-move .photo-item.portrait2 {
    grid-row: span 25;
    grid-column: span 3;
    background-image: url(img/MOVE/Portrait2.jpg);
    background-size: 100% 100%;
}

.main-content .gallery-move .photo-item.portrait3 {
    grid-row: span 25;
    grid-column: span 3;
    background-image: url(img/MOVE/Portrait3.jpg);
    background-size: 100% 100%;
}